[submodule "models/YOLOPX"]
	path = models/YOLOPX
	url = https://github.com/jsluijter02/YOLOPX.git
[submodule "models/LightSB"]
	path = models/LightSB
	url = https://github.com/jsluijter02/LightSB.git
